.analytics-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .pie-chart {
    width: 50%; /* Adjust as needed */
  }
  
  .analytics-details {
    width: 40%; /* Adjust as needed */
  }
  
  .color-box {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
  